body
{
/*	background-color: #505050;*/
}
html
{
	background: url(resources/doft.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:1
}
body
{
	opacity:.5;
}
.header
{
	position: relative;
	border-radius: 8px;
	background: #909090;
	padding: 20px;
	width: 70%;
	box-shadow: 10px 10px 12px;
	z-index: 1;
	margin: auto;
}
img
{
	position: relative;
}
